:root {
    --main-color: #1F6D8C;
    --main-alt-color: #2a8db4;
    --green-col: #ECFFFC ;
    --green-alt-col:#cefaf3c5 ;
  }
*{
    box-sizing: border-box;
}
*:focus{
    outline: none;
}
body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
a{
    text-decoration: none;
}
ul {
    padding: 0;
    list-style: none;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: white;
}
::-webkit-scrollbar-thumb{
    background-color: var(--main-alt-color);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
    background-color: var(--main-color);
}
.page{
    min-height: 100vh;
}

/* ------------------------------>>> START SIDEBAR  <<<----------- */
.sidebar{
    width: 200px;
}
.sidebar > h3 {
    margin-bottom: 50px;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
}
@media(min-width:768px){
    .sidebar > h3::before{
        content: "";
        position: absolute;
        width: 133px;
        height: 4px;
        background-color: white;
        left: 50%;
        transform: translateX(-50%);
        bottom: -20px;
        border-radius: 50%;
    }
    .sidebar > h3::after{
        content: '';
        position: absolute;
        height: 15px;
        width: 15px;
        background-color: white;
        border-radius: 50%;
        border: 5px solid #1F6D8C;
        bottom: -30px;
        left: 50%;
        transform: translateX(-50%);
    }
}

.sidebar ul li a{
    transition: 0.5s;
    margin-bottom: 5px;
}
.sidebar ul li a:hover , 
.sidebar ul li a.active{
    background-color: #ECFFFC;
    color: #1F6D8C;
}
.sidebar ul li a span{
    margin-left: 10px;
}
@media(max-width:767px){
    .sidebar{
        width: 60px;
    }
    .sidebar > h3 {
        font-size: 15px;
        margin-bottom: 20px;
        text-transform: capitalize;
    }
    .sidebar ul li a{
        display: flex;
        justify-content: center;
    }
    .sidebar ul li a span{
        display: none;
    }
}
/* ------------------------------>>> END sidebar  <<<----------- */
/* ------------------------------>>> start content  <<<----------- */
.content{
    /* ------------------------------>>> flex: 1; <<<----------- */
    width: 100%;
    border-radius: 25px 0 0 25px;
    overflow: hidden;
}
.content .head .search::before{
    font-family: "Font Awesome 5 Free";
    content: "\f002";
    position: absolute;
    color: gray;
    font-weight: 900;
    font-size: 14px;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
}
.content .head .search input{
    padding-left: 30px;
    border: 1px solid #1E6D8F;
    border-radius: 10px;
    width: 180px;
    caret-color: #1E6D8F;
    transition: 0.5s;
}
@media(min-width:768px){
    .content .head .search input:focus{
        width: 210px;
    }
}

.content .head .search input:focus::placeholder{
    opacity: 0;
}
.content .icons select{
    padding: 2px 10px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #1E6D8F;
}
.content .icons select option{
    font-size: 14px;
    font-weight: bold;
}
.content .icons .notification::before{
    content: "";
    position: absolute;
    background-color: #F2A413;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    right: -2px;
    top: -4px;
    
}
.content .icons .msg::before{
    content: "";
    position: absolute;
    background-color: #67CCD3;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    right: -7px;
    top: -4px;
    
}
.content .icons img {
    height: 38px;
    width: 38px;
}
@media(max-width:767px){
    .content{
        border-radius: unset;
    }
    .content .icons select{
        display: none;
    }
}
.page h1{
    margin: 20px 20px 30px;
    color: var(--main-color);
    letter-spacing: -1px;
    width: fit-content;
    font-size: 25px;
}
.page h1::before{
    content: "";
    position: absolute;
    width: 90%;
    height: 4px;
    background-color: white;
    border-radius: 5px;
    bottom: -15px;
    left: 0px;
}
.page h1::after{
    content: "";
    position: absolute;
    width: 30%;
    height: 4px;
    background-color: var(--main-color);
    border-radius: 5px;
    bottom: -15px;
    left: 0px;
}
.page .wrapper{
    grid-template-columns: repeat(auto-fill,minmax(450px,1fr));
    margin: 0 15px;
}
@media(max-width:767px){
    .page .wrapper{
        grid-template-columns: minmax(200px,1fr);
        margin: 0 10px;
        gap: 10px;
    }
}

/* ------------------------------>>> Start Welcom  <<<----------- */

.page .welcom{
    overflow: hidden;
}
.page .welcom .intro img{
    width: 200px;
    margin-bottom: -10px;
}
.page .welcom .body{
    margin: 20px 0;
    border-bottom: 2px solid var(--green-alt-col);
}

.page .welcom .body > div{
    flex: 1;
}
.page .welcom .body div span{
    display: block;
}
.page .welcom .avatar{
    position: absolute;
    width: 50px;
    height: 50px;
    top: 100px;
    left: 10px;
    border: 2px solid white;
    border-radius: 50%;
    box-shadow: 0 0 7px var(--main-alt-color);
}
.page .welcom a{
    background-color: var(--main-alt-color);
    display: block;
    width: fit-content;
    margin: 0 15px 15px auto;
    padding: 5px 10px;
}
@media(max-width:767px){
    .page .welcom .intro img{
        display: none;
    }
    .page .welcom .avatar{
        left: 50%;
        transform: translateX(-50%);
        top: 80px;
    }
    .page .welcom .body{
        display: block;
    }
    .page .welcom .body > div:not(:last-child){
        margin-bottom: 20px;
    }
    .page .welcom a{
        margin: 0 auto 15px;
    }
}
/* ------------------------------>>>End welcom  <<<----------- */
/* ------------------------------>>> Start draft  <<<----------- */
.page .draft textarea{
    resize: none;
    min-height: 150px;
}
.page .draft .save {
    background-color: var(--main-alt-color);
    display: block;
    width: fit-content;
    margin: 0 15px 15px auto;
    padding: 5px 10px;
    cursor: pointer;
}
@media(max-width:767px){
    .page .draft .save{
        margin: 0 auto 15px;
    }
}
/* ------------------------------>>> End draft  <<<----------- */
/* ------------------------------>>> Start Yearly Targets  <<<----------- */
.page .Targets .bleu .icon{
    color: #30419B;
    background-color: rgb(48 65 155 / 20%);
    height: 80px;
    width: 80px;
}
.page .Targets .orange .icon{
    color: #FFB610;
    background-color: rgba(255, 183, 15, 0.2);
    height: 80px;
    width: 80px;
}
.page .Targets .green .icon{
    color: #03C388;
    background-color: rgba(3, 195, 137, 0.2);
    height: 80px;
    width: 80px;
}
.page .Targets .bleu .prog{
    height: 4px;
    background-color: rgb(48 65 155 / 20%);
}
.page .Targets .orange .prog{
    height: 4px;
    background-color: rgba(255, 183, 15, 0.2);
}
.page .Targets .green .prog{
    height: 4px;
    background-color: rgba(3, 195, 137, 0.2);
}
.page .Targets .bleu .prog span{
    display: block;
    height: 100%;
    background-color: #30419B;
}
.page .Targets .orange .prog span{
    display: block;
    height: 100%;
    background-color: #FFB610;
}
.page .Targets .green .prog span{
    display: block;
    height: 100%;
    background-color: #03C388;
}
.page .Targets .prog span::before{
    content: attr(data-progress);
    position: absolute;
    font-size: 12px;
    right: 0;
    transform: translateX(50%);
    top: -30px;
    border-radius: 5px;
    padding: 3px 5px;
    color: white;
}
.page .Targets .bleu .prog span::before{
    background-color: #30419B;
}
.page .Targets .orange .prog span::before{
    background-color: #FFB610;
}
.page .Targets .green .prog span::before{
    background-color: #03C388;
}
.page .Targets .prog span::after{
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 7px 5px 0px 5px;
    top: -11px;
    right: 0;
    transform: translateX(50%);
}
.page .Targets .bleu .prog span::after{
    border-color: #30419B transparent transparent transparent;
}
.page .Targets .orange .prog span::after{
    border-color: #FFB610 transparent transparent transparent;
}
.page .Targets .green .prog span::after{
    border-color: #03C388 transparent transparent transparent;
}

/* ------------------------------>>> End Yearly Targets  <<<----------- */
/* ------------------------------>>> Start Tickets Statistics  <<<----------- */
.page .Tickets .box{
    width:calc(50% - 10px);
}
@media(max-width:767px){
    .page .Tickets .box{
        width: 100%;
    }
}
/* ------------------------------>>> End Tickets Statistics  <<<----------- */
/* ------------------------------>>> Start Latest News  <<<----------- */
.page .news img{
    width: 100px;
    border-radius: 10px;
    margin-right: 10px;
}
.page .news span{
    font-size: 12px;
    background-color: var(--green-alt-col);
    padding: 5px 10px;
    border-radius: 10px;
}
.page .news > div:not(:last-child){
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid var(--green-alt-col);
}
@media(max-width:767px){
    .page .news > div{
        flex-direction: column;
    }
    .page .news > div img,
    .page .news > div h3 ,
    .page .news > div p{
        margin:0px 0px 10px 0px;
    }

}
/* ------------------------------>>> End Latest News  <<<----------- */
/* ------------------------------>>> Start Latest Tasks <<<----------- */
@media(max-width:767px){
    .page .tasks > div{
        flex-direction: column;
    }
    .page .tasks .info{
        margin-bottom: 10px;
    }
    .page .tasks i{
        font-size: 15px;
    }
}
.page .tasks i:hover{
    color: red;
}
.page .tasks > div:not(:last-child){
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 2px solid var(--green-alt-col);
}
.page .tasks > div.scar{
    opacity: 0.5;
}
.page .tasks > div.scar .info{
    text-decoration: line-through;
}
.page .tasks > div div p{
    font-size: 14px;
}
.page .tasks > div div h4{
    font-size: 15px;
}
/* ------------------------------>>> End Latest Tasks  <<<----------- */

/* ------------------------------>>> Start Top Search Items  <<<----------- */
/* ------------------------------>>> End Top Search Items  <<<----------- */

/* ------------------------------>>> Start Latest Uploads  <<<----------- */
.page .lates-uploads > div:not(:last-child){
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--green-alt-col);
}
.page .lates-uploads img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
/* ------------------------------>>> End Latest Uploads  <<<----------- */
/* ------------------------------>>> Start Last Project Progress  <<<----------- */
.page .last-project ul::before{
    content: "";
    position: absolute;
    background-color: var(--main-alt-color);
    width: 2px;
    height: 100%;
    left: 11px;
}
.page .last-project ul li::before{
    content: "";
    height: 20px;
    width: 20px;
    border: 2px solid white;
    outline: 2px solid var(--main-alt-color);
    /* ------------------------------>>> background-color: var(--main-alt-color); <<<----------- */
    background-color: white;
    border-radius: 50%;
    margin-right: 15px;
}
.page .last-project ul li.done::before{
    background-color: var(--main-alt-color);
}
.page .last-project ul li.curent::before{
    animation-name: flash;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes flash{
    from{
        background-color: var(--main-alt-color);
    }
    to{
        background-color: white;
    }
}
.page .last-project img{
    position: absolute;
    height: 150px;
    right: 20px;
    bottom: 20px;
    opacity: .5;
}
/* ------------------------------>>> End Last Project Progress  <<<----------- */

/* ------------------------------>>> Start Reminders  <<<----------- */
.page .reminders li::before{
    content: "";
    display: block;
    background-color: var(--main-alt-color);
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin-right: 20px;
}
.page .reminders .blue::before{
    background-color: var(--main-alt-color);
}
.page .reminders .blue div{
    border-left: 2px solid var(--main-alt-color);
}
.page .reminders .green div{
    border-left: 2px solid #03C388;
}
.page .reminders .green::before{
    background-color: #03C388;
}
.page .reminders .orange div{
    border-left: 2px solid #FFB610;
}
.page .reminders .orange::before{
    background-color: #FFB610;
}
.page .reminders .red div{
    border-left: 2px solid red;
}
.page .reminders .red::before{
    background-color: red;
}
/* ------------------------------>>> End Reminders  <<<----------- */

/* ------------------------------>>> Start L atest Post <<<----------- */
.page .latest-post img{
    height: 55px;
    width: 55px;
    margin-right: 15px;
}
.page .latest-post > div:nth-of-type(2){
    border-top: 1px solid var(--main-alt-color);
    border-bottom: 1px solid var(--main-alt-color);
    line-height: 1.8;
    text-transform: capitalize;
}
/* ------------------------------>>> End Latest Post  <<<----------- */
/* ------------------------------>>> Start social media <<<----------- */
.page .social-media > div{
    padding-left: 65px;
    margin-bottom: 10px;
}
.page .social-media .twitter{
    background-color: rgba(29, 161, 242, 0.2);
}
.page .social-media .facebook{
    background-color: rgba(59, 88, 152, 0.2);
}
.page .social-media .youtub{
    background-color: rgba(255, 0, 0, 0.2);
}
.page .social-media .linkedin{
    background-color: rgba(10, 102, 194, 0.2);
}
.page .social-media .icon{
    overflow: hidden;
    position: absolute;
    height: 100%;
    left: 0;
    width: 50px;
}
.page .social-media i{
    height: 100%;
    color: white;
    transition: 0.5s;
}
.page .social-media .icon:hover i{
    transform: rotate(5deg) scale(1.1);
}
.page .social-media  .twitter i ,
.page .social-media .twitter a{
    background-color: #1da1f2;
}
.page .social-media  .facebook i ,
.page .social-media .facebook a{
    background-color: #3b5998;
}
.page .social-media  .youtub i ,
.page .social-media .youtub a{
    background-color: red;
}
.page .social-media  .linkedin i ,
.page .social-media .linkedin a{
    background-color: #0a66c2;
}

.page .social-media .twitter span{
    color: #1da1f2;
}
.page .social-media .facebook span{
    color: #3b5998;
}
.page .social-media .youtub span{
    color: red ;
}
.page .social-media .linkedin span{
    color: #0a66c2 ;
}
/* ------------------------------>>> End social media <<<----------- */

/* ------------------------------>>> Start project table  <<<----------- */
.page .project-table {
    margin: 0 15px 15px;
}
.page .project-table .resonsive-tab{
    overflow-x: auto;
}
.page .project-table .resonsive-tab table{
    min-width: 1000px;
    border-spacing: 0;
}
.page .project-table table th{
    padding: 15px;
    text-align: left;
    background-color: var(--green-alt-col);
}
.page .project-table table img{
    height: 25px;
    width: 25px;
    padding: 1px;
    background-color: white;
    border-radius: 50%;
}
.page .project-table table tbody tr{
    transition: 0.5s;
}
.page .project-table table tbody tr:hover{
    background-color: var(--green-col);
}
.page .project-table table td{
    padding: 15px;
    border-left: 1px solid var(--green-alt-col);
    border-bottom: 1px solid var(--green-alt-col);
}
.page .project-table table tr td:last-child{
    border-right: 1px solid var(--green-alt-col);
}
.page .project-table table td img:not(:first-child) {
    margin-left: -15px;
}
@media(max-width:767px){
    .page .project-table{
        margin: 0 10px;
    }
}
/* ------------------------------>>> Start project table  <<<----------- */



/* ------------------------------>>> START SETTINGS PAGE  <<<----------- */

/* ------------------------------>>> Start toggle  <<<----------- */
.toggle-check{
    appearance: none;
}
.toggle-switch{
    background-color: var(--green-alt-col);
    width: 75px;
    height: 30px;
    border-radius: 16px;
    position: relative;
    transition: 0.5s;
}
.toggle-switch::before{
    font-family: var(--fa-style-family-classic);
    position: absolute;
    content: "\f00d";
    font-weight: bold;
    background-color: white;
    color: var(--green-alt-col);
    border-radius: 50%;
    height: 24px;
    width: 24px;
    left: 3px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}
.toggle-check:checked + .toggle-switch{
    background-color: var(--main-alt-color);
}
.toggle-check:checked + .toggle-switch::before{
    content: "\f00c";
    left: calc(100% - 27px);
    color: var(--main-alt-color);
}
/* ------------------------------>>> End toggle  <<<----------- */

.page .setting-page{
    grid-template-columns: repeat(auto-fill,minmax(450px,1fr));
    margin: 0 15px;
}
@media(max-width:767px){
    .page .setting-page{
        grid-template-columns: minmax(200px,1fr);
        margin: 0 10px;
        gap: 10px;
    }
}

/* ------------------------------>>> Start Site Control  <<<----------- */
.setting-page .site-control textarea{
    padding: 10px;
    width: 100%;
    min-height: 150px;
    resize: none;
    border: 1px solid var(--main-alt-color);
    border-radius: 5px;
    font-size: 13px;
    caret-color: var(--main-alt-color);
}
.setting-page .site-control textarea::placeholder{
    font-size: 13px;
    color: gray;
}
/* ------------------------------>>> End Site Control  <<<----------- */

/* ------------------------------>>> Start General Info  <<<----------- */
.setting-page .general-info input[type='email']{
    display: inline-flex;
    width: calc(100% - 67px);
    cursor: no-drop;
}
/* ------------------------------>>> End Generel Info  <<<----------- */

/* ------------------------------>>> Start Security Info  <<<----------- */
.setting-page .security-info > div:not(:last-child){
    border-bottom: 1px solid var(--green-alt-col);
    border-bottom: 1px solid var(--green-alt-col);
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.setting-page .security-info a{
    height: 30px;
    width: 75px;
}
/* ------------------------------>>> Start Security Info  <<<----------- */

/* ------------------------------>>> Start social info  <<<----------- */
.setting-page .social-info > div:focus-within i{
    color: black;
}
.setting-page .social-info i{
    height: 40px;
    width: 40px;
    background-color: var(--green-alt-col);
    border: 1px solid #b6e0d9;
    border-right: none;
    border-radius: 6px 0 0 6px;
    transition: 0.3s;
}
.setting-page .social-info input{
    height: 40px;
    border: 1px solid #b6e0d9;
    border-radius: 0 6px 6px 0;
    caret-color: var(--main-alt-color);
}
/* ------------------------------>>> End social info  <<<----------- */

/* ------------------------------>>> Start Widgets Control  <<<----------- */
.setting-page .widgets-control input{
    appearance: none;
}
.setting-page .widgets-control label{
    padding-left: 30px;
    cursor: pointer;
    position: relative;
}
.setting-page .widgets-control label::before{
    content: "";
    position: absolute;
    height: 14px;
    width: 14px;
    border: 2px solid var(--main-color);
    border-radius: 4px;
    left: 0;
    top: 50%;
    margin-top: -9px;
    z-index: 2;
}
.setting-page .widgets-control label::after{
    font-family: "Font Awesome 6 Free";
    content: "\f00c";
    position: absolute;
    font-weight: 900;
    left: 0;
    background-color: #018cfbfc;
    height: 18px;
    width: 18px;
    font-size: 11px;
    border-radius: 4px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    transform: scale(0) rotate(360deg);
    transition: 0.3s;
}
.setting-page .widgets-control input[type="checkbox"]:checked + label::after{
    transform: scale(0.9);
}
/* ------------------------------>>> End Widgets Control  <<<----------- */

/* ------------------------------>>> Start Backup Manager  <<<----------- */
.setting-page .backup-manager .date input[type="radio"]{
    appearance: none;
}
.setting-page .backup-manager .date label{
    padding-left: 30px;
    cursor: pointer;
    position: relative;
}
.setting-page .backup-manager .date label::before{
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    transition: 0.3s;
}
.setting-page .backup-manager .date label::after{
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    background-color: #018cfbfc;
    border-radius: 50%;
    left: 4px;
    top: 3px;
    transform: scale(0);
    transition: 0.3s;

}
.setting-page .backup-manager .date input[type="radio"]:checked + label::after{
    transform: scale(1);
}
.setting-page .backup-manager .date input[type="radio"]:checked + label::before{
    border-color: #018cfbfc;
}
.setting-page .backup-manager .service{
    border-top: 1px solid var(--green-alt-col);
}
.setting-page .backup-manager .service input[type="radio"]{
    appearance: none;
}
.setting-page .backup-manager .service > div{
    border: 2px solid var(--green-alt-col);
}
@media(max-width:767px){
    .setting-page .backup-manager .service{
        flex-wrap: wrap;
    }
    .setting-page .backup-manager .service > div {
        margin-bottom: 5px;
    }
}
.setting-page .backup-manager .service input[type="radio"]:checked + div{
    border-color: #018cfbfc;
    color: #018cfbfc;
}
/* ------------------------------>>>End Backup Manager  <<<----------- */
/* ------------------------------>>> END SETTINGS PAGE  <<<----------- */ 

/* ------------------------------>>> Start profile page  <<<----------- */
.information__page .imag__frofil img{
    width: 100px;
    margin-block-end: 10px;
}
.information__page .information__profil{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
}
.information__page .information__profil > div {
    display: flex ;
    flex-direction: column;
    align-items: center ;
    position: relative;
    border: 3px outset var(--main-alt-color);
    border-radius: 20px;
}

.information__page .information__profil > div p:first-child{
    position: absolute;
    top: -30px;
    background-color: white;
    padding: 0 20px;
    font-size: 17px;
    font-weight: 600;
    color: var(--main-color);
}
.information__page .information__profil > div p:nth-child(2){
    margin-top: 20px;
}
.box__skil__activite .list__skills{
    flex-basis: 35%;
}
.box__skil__activite .list__skills span{
    display: inline-block;
    padding: 5px 10px;
    margin: 0 5px 8px;
    background: var(--main-alt-color);
    color: white;
    border: 2px outset var(--main-color);
    border-radius: 5px;
}

.box__skil__activite .latest__activs img{
    width: 52px;
    margin-right: 10px;
}

.box__skil__activite .latest__activs .date{
    margin-left: auto;
    text-align: right;
}
.box__skil__activite .latest__activs > div:not(:last-child){
    padding-bottom: 20px ;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--green-alt-col);
}
@media(max-width:767px){
    .box__skil__activite{
        flex-direction: column;
    }
    .box__skil__activite .list__skills div{
        text-align: center;
    }
    .box__skil__activite .latest__activs > div{
        flex-direction: column;
        text-align: center;
        gap: 15px;
    }
    .box__skil__activite .latest__activs > div img ,
    .box__skil__activite .latest__activs .info{
        margin: 0;
    }
    .box__skil__activite .latest__activs .date{
        margin: auto;
        text-align: center;
    }
}
/* ------------------------------>>> End profile page  <<<----------- */

/* ------------------------------>>> Start page projects  <<<----------- */
.projects__page{
    grid-template-columns: repeat(auto-fill,minmax(430px,1fr));
}
.projects__page .box h4{
    font-weight: normal;
    position: relative;
    width: fit-content;
    letter-spacing: 1px;
}
@media(min-width:768px){
    .projects__page .box h4:after{
        position: absolute;
        content: "";
        height: 2px;
        width: 85%;
        top: 61%;
        background-color: var(--main-alt-color);
        transform: translateX(15px);
    }
}
.projects__page .box > span{
    position: absolute;
    font-size: 14px;
    top: 10px;
    right: 10px;
}
.projects__page img{
    height: 40px;
    width: 40px;
    border: 2px solid white;
    border-radius: 50%;
}
.projects__page .imag__team{
    position: relative;
    min-height: 80px;
}
.projects__page .imag__team a{
    position: absolute;
    left: 0;
    bottom: 0;
}
.projects__page .imag__team a:nth-child(2) {
    left: 25px;
}
.projects__page .imag__team a:nth-child(3) {
    left: 50px;
}
.projects__page .imag__team a:nth-child(4) {
    left: 75px;
}
.projects__page .imag__team a:nth-child(5) {
    left: 100px;
}
.projects__page .imag__team a:hover {
    z-index: 1000;
}
.projects__page .mission{
    justify-content: end;
    gap: 5px;
}
.projects__page .box > div:not(:first-of-type){
    padding-top: 20px;
    margin-top: 20px;
    border-top: 1px solid var(--green-alt-col);

}
.projects__page .box .progress .prog{
    width: 250px;
    height: 7px;
    background-color: var(--green-col);
    border-radius: 5px;
    overflow: hidden;
}
.projects__page .box .progress div span{
    display: block;
    width: 50%;
    height: 100%;
    background-color: var(--main-alt-color);
}
@media(max-width:767px){
    .projects__page{
        grid-template-columns: minmax(200px,1fr);
        gap: 10px;
    } 
    .projects__page .mission{
        justify-content: center;
        flex-wrap: wrap;
    } 
    .projects__page .box .progress{
        flex-direction: column;
    }
}
/* ------------------------------>>> End page projects  <<<----------- */

/* ------------------------------>>> Start courses page  <<<----------- */
.courses__page{
    grid-template-columns: repeat(auto-fill,minmax(287px,1fr));
}
.courses__page .box{
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.courses__page .imag__box{
    width: 100%;
}
.courses__page .imag__box .img__cours{
    width: 100%;
}
.courses__page .imag__box .img__avtar{
    position: absolute;
    padding: 1px;
    background-color: white;
    width: 50px;
    height: 50px;
    top: 20px;
    left: 20px;
    border-radius: 50%;
    box-shadow: 0px 1px 0px white;
}
.info__cours{
    flex: 1;
    border-bottom: 1px solid var(--main-alt-color);
}
.info__cours p{
    color: gray;
    font-size: 15px;
    line-height: 25px;
}
.info__cours span{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 12px);
    background-color: var(--main-alt-color);
    color: white;
    padding: 5px 10px;
    font-size: 15px;
    border-radius: 7px;
}
@media(max-width:767px){
    .courses__page{
        grid-template-columns:minmax(200px,1fr);
        gap: 10px;
    }
}
/* ------------------------------>>> End courses page  <<<----------- */

/* ------------------------------>>> Start friends page  <<<----------- */
.friends__page{
    grid-template-columns: repeat(auto-fill,minmax(287px,1fr));
}
.sub__profil{
    flex-direction: column;
}
.sub__profil img{
    border-radius: 50%;
    width: 100px;
}
.contact{
    position: absolute;
    top: -5px;
    left: -5px;
    display: flex;
    gap: 5px;
}
.contact i{
    color: var(--main-color);
    background-color: var(--green-alt-col);
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.friends__page .about__profil{
    padding-block: 15px;
    margin-block: 15px;
    border-block: 1px solid var(--green-alt-col);
    
}
.friends__page .about__profil div{
    font-size: 14px;
    opacity: .9;
}
.friends__page .about__profil  i{
    margin-right: 10px;
    color: var(--main-color);
    width: 20px;
    height: 17px ;
}
.friends__page .info div a{
    font-size: 13px;
    padding: 4px 8px;
    color: white;
    border-radius: 6px ;
}
/* ------------------------------>>> End friends page  <<<----------- */

/* ------------------------------>>> Stat Files Page  <<<----------- */
.files__page .files{
    flex: 1;
    grid-template-columns: repeat(auto-fill,minmax(215px,1fr));
}
.files__page .static{
    min-width: 250px;
}

.files__page .files .doc{
    flex-direction: column;
}
.files__page .files .doc i{
    position: absolute;
    top: 0px;
    left: 0px;
    color: var(--main-color);
}
.files__page .files .doc img{
    width: 70px;
    height: 70px;
    margin-top: 15px;
    transition: 0.3s;
}
.files__page .box:hover img{
    transform: scale(1.2) rotate(7deg);
}
.files__page .files .doc span{
    font-size: 14px;
    margin-block: 12px 20px;
}
.files__page .files .doc p{
    position: absolute;
    font-size: 13px;
    color: gray;
    left: 0;
    bottom: -15px;
}
.files__page .files .info{
    margin-top: 10px;
    padding-top: 10px ;
    border-top: 1px solid var(--green-alt-col);
}
.files__page .static > div >div {
    border: 1px solid var(--green-alt-col);
    border-radius: 5px;
}
.files__page .static i{
    margin-right: 6px;
    font-size: 20px;
    height: 40px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.files__page .static i.fa-file-pdf{
    color: red;
    background-color: rgb(255 0 0 / 20%);
}
.files__page .static i.fa-images{
    color: #03C388;
    background-color: rgba(3, 195, 137, 0.2);
}
.files__page .static .upload{
    display: flex;
    align-items: center;
    background-color: var(--main-alt-color);
    width: fit-content;
    margin: auto;
    padding: 0px 10px;
    font-size: 14px;
    color: white;
    border-radius: 5px;
    margin-top: 25px;
}
.files__page .static .upload i{
    font-size: 13px;
    width: 17px;
}
.files__page .static .upload:hover i{
    animation: up_down 1s linear infinite alternate;
}
@keyframes up_down{
    50%{
        transform: translateY(-4px);
    }
    100%{
        transform: translateY(2px);
    }

}
@media(max-width:768px){
    .files__page{
        flex-direction: column-reverse;
    }
    .files__page .static .upload{
        margin: 25px 0 0;
    }
}
/* ------------------------------>>> End  files page  <<<----------- */

/* ------------------------------>>> Start plan plans  <<<----------- */
.plans__page{
    grid-template-columns: repeat(auto-fill,minmax(285px,1fr));
}
.plans__page .info{
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--green-alt-col);
}
.plans__page .info span{
    font-size: 17px;
    font-weight: 600;
    opacity: .7;
}
.plans__page .info h4{
    margin-block: 10px;
    font-size: 38px;
}
.plans__page .basic h4::before,
.plans__page .pro h4::before{
    display: inline-block;
    content: "$";
    font-size: 25px;
    transform: translateY(-10px);
    margin-right: 5px;
}
.plans__page .basic h4::after ,
.plans__page .pro h4::after{
    content: "/mo";
    position: absolute;
    font-size: 16px;
    color: gray;
    bottom: 0px;
    transform: translateX(10px);
    font-weight: normal;
}
.plans__page .pro{
    background-color: #121040;
}
.plans__page i{
    height: 14px;
    width: 14px;
}
.plans__page .advantage {
    font-weight: bold;
}
.plans__page .box >span{
    display: block;
    margin: 60px auto 0;
    background-color: var(--green-alt-col);
    padding: 10px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    width: 80%;
    border-radius: 10px;
}
.plans__page .pro > span{
    color: white;
    background-color: #0B0726;
}
.plans__page .pro i{
    color: white;
}
@media(max-width:767px){
    .plans__page{
        grid-template-columns: minmax(200px,1fr);
    }
}
/* ------------------------------>>> End plans page  <<<----------- */
